<p>Name: <%= @pet.name%></p>
<p>Breed: <%= @pet.breed%></p>
<p>Trained: <%= @pet.trained%></p>
<p>Admission Date: <%= @pet.admission_date%></p>

<form action="/volunteer/animal/:id/edit" method="POST">

	<label for="animal_id">Animal ID:</label>

	<input type="text" id="animal_id" name="animal_id" value= " <%= @pet.animal_id %> ">

	<label for="name">Pet Name:</label>
	<input type="text" id="name" name="name">
	<br />
	<br />
	<label for="breed">Pet Breed:</label>
	<input type="text" id="breed" name="breed">
	<br />
	<br />
	<label for="trained">Pet Trained:</label>
	<select name="pet__trained" id="trained">
		<option selected disbaled value=""></option>
		<option value="yes">Yes</option>
		<option value="no">No</option>
	</select>
	<br />
	<br />
	<label for="owner">Owner:</label>
	<input type="number" id="owner" name="owner_id">
	<br />
	<br />
	<input type="submit" value="Update">
</form>
<br />
