<h3 class="header">Training Progress</h3>

<br />

<br />

<table>
	<tr>
		<th>Toilet Trained</th>
		<th>Sit</th>
		<th>Stay</th>
		<th>Come</th>
		<th>Heel</th>
		<th>Down</th>
		<th>Socialised</th>
	</tr>
	<tr>
		<td> <%= @training.toilet_trained %> </td>
		<td> <%= @training.sit %> </td>
		<td> <%= @training.stay %> </td>
		<td> <%= @training.come %> </td>
		<td> <%= @training.heel %> </td>
		<td> <%= @training.down %> </td>
		<td> <%= @training.socialised %> </td>
	</tr>
</table>
<br />
<form action="/volunteer/animal/:id/edit/training" method="POST">

	<input type="hidden" name="animal_id" value="<%= @pet.animal_id %>">
	<label for="toilet">Toilet Trained:</label>
	<select id="toilet" name="toilet_trained">
		<option selected disbaled value=""></option>
		<option value="Basic">Basic</option>
		<option value="Intermediate">Intermediate</option>
		<option value="Advance">Advance</option>
	</select>
	<br />
	<label for="sit">Sit:</label>
	<select id="sit" name="sit">
		<option selected disbaled value=""></option>
		<option value="Basic">Basic</option>
		<option value="Intermediate">Intermediate</option>
		<option value="Advance">Advance</option>
	</select>
	<br />
	<label for="stay">Stay:</label>
	<select id="stay" name="stay">
		<option selected disbaled value=""></option>
		<option value="Basic">Basic</option>
		<option value="Intermediate">Intermediate</option>
		<option value="Advance">Advance</option>
	</select>
	<br />
	<label for="come">Come:</label>
	<select id="come" name="come">
		<option selected disbaled value=""></option>
		<option value="Basic">Basic</option>
		<option value="Intermediate">Intermediate</option>
		<option value="Advance">Advance</option>
	</select>
	<br />
	<label for="heel">Heel:</label>
	<select id="heel" name="heel">
		<option selected disbaled value=""></option>
		<option value="Basic">Basic</option>
		<option value="Intermediate">Intermediate</option>
		<option value="Advance">Advance</option>
	</select>
	<br />
	<label for="down">Down:</label>
	<select id="down" name="down">
		<option selected disbaled value=""></option>
		<option value="Basic">Basic</option>
		<option value="Intermediate">Intermediate</option>
		<option value="Advance">Advance</option>
	</select>
	<br />
	<label for="socialised">Socialised:</label>
	<select id="socialised" name="socialised">
		<option selected disbaled value=""></option>
		<option value="Basic">Basic</option>
		<option value="Intermediate">Intermediate</option>
		<option value="Advance">Advance</option>
	</select>
	<br />
	<input type="submit" value="Update">
</form>
